#logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
#brand{
    font-size: 26px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

    padding: 10px;
    padding-bottom: 0;
}

.links{
    display: flex;
}

.nav-links{
    font-size: 20pxs;
    color: #000;
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    position: relative;
}

.profile-ul{
    list-style-type: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.profile-li{
    padding: 0 10px;
}

.dropdown-ul{
    position: absolute;
    top: 40px;
    right: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
opacity: 1;
list-style-type: none;
padding: 10px;
width: 400px;
background-color: #fff;
z-index: 999;
min-height: 200px;
display: none;
border-radius: 15px;
}

.dropdown{
    position: relative;

}

/* .dropdown:hover .dropdown-ul{
    display: block;

} */

.dropdown:focus .dropdown-ul{
    display: block;
}

.dropdown-li{
    display: flex;
    justify-content: space-between;
}

.notification-delete-btn{
    margin-right: 5px;
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    /* opacity:0; */
    display: none;
}

.notification:hover .notification-delete-btn{
display: block;
}

.notification-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-icon{
    font-size: 25px;
}

.notification-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px!important;
position: relative;
}

.delete-notification-icon{
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-notifications{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   flex: 1;
}

.notification {
    height: 40px;
    padding: 10px;
    background-color: #EEEEEE;

    border-radius: 10px;
    margin-bottom: 5px;
    border-left: 6px solid black;
    border-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-time{
    font-size: 13px;
}



.notification-count{
display: flex;
justify-content: center;
align-items: center;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 998;
}